<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="icon" type="image/png" sizes="32x32" href="<%= webpackConfig.output.publicPath %>favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="<%= webpackConfig.output.publicPath %>favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= webpackConfig.output.publicPath %>favicon-16x16.png">
    <meta name="theme-color" content="#ffffff">
    <link
      rel="shortcut icon"
      href="<%= webpackConfig.output.publicPath %>favicon.ico"
    />
    <title><%= webpackConfig.name %></title>
  </head>
  <body>
    <!-- This is where our app will be mounted. -->
    <div id="app"></div>

    <!-- Built files will be auto injected here. -->
  </body>
</html>
